body{
    background: rgb(229, 221, 209);
    margin: 0 20% 3% 20%;
    color: rgb(36, 28, 28);
    font-family: 'Quicksand', sans-serif;
}
hr{
    border: 1px dashed #000;
    margin: 5% 0;
}
h1, h2{
    text-align: center;
}
audio{
    border: none;
    color: rgb(35, 65, 82);
    margin: 1%;
}
h3.musicPlayer{
    text-align: center;
}
div.box1{
    background: rgba(27, 96, 124, 0.575);
    padding: 3%;
}
div.box2{
    background: rgba(155, 86, 40, 0.521);
    padding: 3%;
}
div.box3{
    background: rgba(105, 146, 105, 0.521);
    padding: 3%;
}
div.images, div.audioFiles{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    margin: 1%;
}


